.custom-header { 
    text-align: right;
    padding: 10px var(--page-padding);
    background: var(--sidebar-bg);
    margin-left: calc(-1 * var(--page-padding));
    margin-right: calc(-1 * var(--page-padding));   
}
.custom-menu-item, .custom-menu-item:visited {
    color: var(--sidebar-fg);
    text-decoration: none;
    margin-left: 30px;
}
.custom-menu-item:hover, .custom-menu-item:focus {
    color: var(--sidebar-active);
}