<div class="custom-header">
  <a
    href="https://docs.google.com/viewer?url=https://github.com/nezaj/jobsearch-content/raw/master/build/book/job_search.pdf"
    class="custom-menu-item"
    target="_blank">
    Course PDF
  </a>
  <a 
    class="custom-menu-item"
    href="http://eepurl.com/gkf9pj"
    target="_blank">
    Keep in touch :)
  </a>
</div>
